doctype html
//if IE 9 
	html.ie9(data-ng-app='li211App')
html(data-ng-app='li211App' data-ng-class="{'login-content':  $root.state == 'login'}" ng-cloak)
	head
		base(href="/")
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Li211
		// Vendor CSS
		link(href='vendors/bower_components/animate.css/animate.min.css', rel='stylesheet')
		link(href='vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css', rel='stylesheet')
		link(href='vendors/bower_components/components-font-awesome/css/font-awesome.min.css', rel='stylesheet')
		link(href='vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css', rel='stylesheet')
		link(href='vendors/bower_components/angular-loading-bar/src/loading-bar.css', rel='stylesheet')
		link(href='vendors/bower_components/angular-chart.js/dist/angular-chart.css', rel='stylesheet')
		// CSS
		link#app-level(href='css/app.css', rel='stylesheet')
	
	body(data-ng-controller='appController as app' data-ng-class="{ 'sw-toggled': app.layoutType === '1' && $root.state != 'login', 'modal-open': app.sidebarToggle.left === true, 'login-content':  $root.state == 'login'}")
		data(ui-view data-ng-class="{'full-view':  $root.state == 'login'}")
		// Older IE warning message
		//if lt IE 9
			.ie-warning
				h1.c-white Warning!!
				p
					| You are using an outdated version of Internet Explorer, please upgrade 
					br
					| to any of the following web browsers to access this website.
				.iew-container
					ul.iew-download
						li
							a(href='http://www.google.com/chrome/')
								img(src='img/browsers/chrome.png', alt='')
								div Chrome
						li
							a(href='https://www.mozilla.org/en-US/firefox/new/')
								img(src='img/browsers/firefox.png', alt='')
								div Firefox
						li
							a(href='http://www.opera.com')
								img(src='img/browsers/opera.png', alt='')
								div Opera
						li
							a(href='https://www.apple.com/safari/')
								img(src='img/browsers/safari.png', alt='')
								div Safari
						li
							a(href='http://windows.microsoft.com/en-us/internet-explorer/download-ie')
								img(src='img/browsers/ie.png', alt='')
								div IE (New)
				p Sorry for the inconvenience!
	// Core
	script(src='vendors/bower_components/jquery/dist/jquery.min.js')
	// Angular
	script(src='vendors/bower_components/angular/angular.min.js')
	script(src='vendors/bower_components/angular-animate/angular-animate.min.js')
	script(src='vendors/bower_components/angular-resource/angular-resource.min.js')
	script(src='vendors/bower_components/angular-i18n/angular-locale_fr.js')
	// Angular Modules
	script(src='vendors/bower_components/angular-ui-router/release/angular-ui-router.min.js')
	script(src='vendors/bower_components/angular-permission/dist/angular-permission.js')
	script(src='vendors/bower_components/angular-loading-bar/src/loading-bar.js')
	script(src='vendors/bower_components/oclazyload/dist/ocLazyLoad.min.js')
	script(src='vendors/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
	// Common Vendors
	script(src='vendors/bower_components/jquery.nicescroll/jquery.nicescroll.min.js')
	script(src='vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js')
	script(src='vendors/bower_components/Waves/dist/waves.min.js')
	script(src='vendors/bootstrap-growl/bootstrap-growl.min.js')
	script(src='vendors/bower_components/ng-table/dist/ng-table.min.js')
	// Placeholder for IE9
	//if IE 9 
	script(src='vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js')
	// Using below vendors in order to avoid misloading on resolve
	//- script(src='vendors/bower_components/flot/jquery.flot.js')
	//- script(src='vendors/bower_components/flot.curvedlines/curvedLines.js')
	//- script(src='vendors/bower_components/flot/jquery.flot.resize.js')
	//- script(src='vendors/bower_components/moment/min/moment.min.js')
	//- script(src='vendors/bower_components/fullcalendar/dist/fullcalendar.min.js')
	//- script(src='vendors/bower_components/flot-orderBars/js/jquery.flot.orderBars.js')
	//- script(src='vendors/bower_components/flot/jquery.flot.pie.js')
	//- script(src='vendors/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js')

	script(src='vendors/bower_components/angular-nouislider/src/nouislider.min.js')
	script(src='vendors/input-mask/input-mask.min.js')
	script(src='https://cdn.firebase.com/js/client/2.2.4/firebase.js')
	script(src='https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js')
	script(src="vendors/bower_components/ng-websocket/ng-websocket.js")
	script(src='vendors/bower_components/Chart.js/Chart.min.js')
	script(src="vendors/bower_components/angular-chart.js/dist/angular-chart.js")
	// App config
	script(src='js/app.js')
	script(src='js/config.js')
	// Controllers
	script(src='js/controllers/appController.js')
	script(src='js/controllers/mainController.js')
	script(src='js/controllers/headerController.js')
	script(src='js/controllers/loginController.js')
	script(src='js/controllers/homeController.js')
	script(src='js/controllers/view1Controller.js')
	script(src='js/controllers/view2Controller.js')
	script(src='js/controllers/directoryController.js')
	script(src='js/controllers/chatController.js')
	script(src='js/controllers/profileController.js')
	// Directives
	script(src='js/directives/appDirective.js')
	script(src='js/directives/commonDirective.js')
	// Filters
	script(src='js/filters/appFilter.js')
	// Services
	script(src='js/services/appService.js')
	script(src='js/services/articleService.js')
	script(src='js/services/userService.js')
	script(src='js/services/accountService.js')
	//- script(src='js/services.js')
	//- script(src='js/templates.js')
	//- script(src='js/controllers/ui-bootstrap.js')
	//- script(src='js/controllers/table.js')
	//- // Template Modules
	//- script(src='js/modules/template.js')
	//- script(src='js/modules/ui.js')
	//- script(src='js/modules/charts/flot.js')
	//- script(src='js/modules/charts/other-charts.js')
	//- script(src='js/modules/form.js')
	//- script(src='js/modules/media.js')
	//- script(src='js/modules/components.js')
	//- script(src='js/modules/calendar.js')
	//- script(src='js/modules/demo.js')
